
.home-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 50vh !important; */
    min-height: 40rem;
    background-image: url('../assets/Home/bg2.png');
}